{
  "src/**/*.{js,ts}": [
    "eslint --fix --max-warnings=0",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["npm run validate-package"]
}
